<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <!--
    <context-param>
        <param-name>context</param-name>
        <param-value>/CarpetaTIv2_1</param-value>
    </context-param>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>gepp.carpetativ2_1.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    -->
    <display-name>Struts 2 Web Application</display-name>

    <filter>
        <filter-name>action</filter-name>
        <!--<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>-->
        <filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
        <!--<init-param>            
            <param-name>actionPackages</param-name>
            <param-value>action</param-value>
        </init-param>-->
    </filter>
    
    <filter-mapping>
        <filter-name>action</filter-name>
        <url-pattern>/*</url-pattern>        
    </filter-mapping>
    
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>login.action</welcome-file>        
    </welcome-file-list>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
